<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Air Yamaha</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <nav class="navbar navbar-expand navbar-light bg-light">
          <div class="nav navbar-nav">
              <a class="nav-item nav-link" href="#">/Home</a>
              <a class="nav-item nav-link" href="#">/Zenith 750 STOL Build</a>
              <a class="nav-item nav-link" href="#">/Yamaha Apex Aircraft Conversion</a>
              <a class="nav-item nav-link" href="#">/Hangar/House Build Page</a>
              <a class="nav-item nav-link" href="#">/Building/Prototyping/Guns/Trips</a>
          </div>
      </nav>
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              AirYamaha  
            </h1>
            <h2 class="subtitle">
              Yamaha Apex 160hp Snowmobile Engine Powered Zenith 750 STOL. Page dedicated to homebuilt aircraft, STOL aircraft, and Yamaha Apex RX1 Aircraft Conversions 
            </h2>
          </div>
        </div>
      </section>
      
    
     {% block bodyblock %}
     {% endblock %}
    </div>
  </section>
  </body>
</html>