{% extends 'base.html' %}
{% block bodyblock %}
<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-image">
              <figure class="image is-3by4">
                <img src="{{url_for('static', filename='wingskeleton.jpg')}}"align="middle" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="{{url_for('static', filename='jacobrudder.jpg')}}" align="middle" />
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Yamaha Powered Bushplane</p>
                  <p class="subtitle is-6">Zenith 750 STOL</p>
                </div>
              </div>
          
              <div class="content">
                Yamaha Apex 160hp powered Zenith 750 STOL. Also a pretty convenient place to keep my build log.  <a>Zenith Aircraft Company</a>.
                <a href="#">Facebook Yamaha Aircraft Conversions Group</a> <a href="#">SkyTrax</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
          </div>
    </div>
    <div class="column">
        <!--Big pic on notecard-->
        <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{url_for('static', filename='house1.jpg')}}" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
                <!--profile pic on notecard-->
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="{{url_for('static',filename='house2.jpg')}}" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">SHangar</p>
                  <p class="subtitle is-6">Shop House Hangar Build</p>
                </div>
              </div>
          
              <div class="content">
                Hangars rental is expensive, Made more sense to just build a house with the attached hangar 
                and airstrip. Went with a pole-barn shouse setup  <a>@hadnoideawoodwasthisexpensive</a>.
                <a href="#">#Shophouse</a> <a href="#">#designedbyanidiot/builtbyprofessionals</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
          </div>
    </div>

  </div>
  <div>
    <div class="block">
        This text is within a <strong>block</strong>.
        <figure class="image is-128x128">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </figure>
      </div>
      <div class="block">
        This text is within a <strong>second block</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
      </div>
      <div class="block">
        This text is within a <strong>third block</strong>. This block has no margin at the bottom.
      </div>
  </div>
<!-- Columns Ending -->
{% endblock %}